{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/table.css') }}">
{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Resultado de Datos {{ proveedor}}
    </div>
    <div class="card-body">
        <div class="table-responsive small">
            <table id="datatablesSimple" class="table table-striped table-hover table-sm">
                <thead class="table-light">
                    <tr> 
                        <th scope="col">Project Name</th>
                        <th scope="col">Aplicación</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Last Analysis</th>
                        <th scope="col"># Bugs</th>
                        <th scope="col">Reliability</th>
                        <th scope="col"># Vulnerabilities</th>
                        <th scope="col">Security</th>
                        <th scope="col"># Code Smells</th>
                        <th scope="col">Sqale</th>
                        <th scope="col">Quality Gate</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th scope="col">Project Name</th>
                      <th scope="col">Aplicación</th>
                      <th scope="col">Talla</th>
                      <th scope="col">Fecha</th>
                      <th scope="col"># Bugs</th>
                      <th scope="col">Reliability</th>
                      <th scope="col"># Vulnerabilities</th>
                      <th scope="col">Security</th>
                      <th scope="col"># Code Smells</th>
                      <th scope="col">Sqale</th>
                      <th scope="col">Quality Gate</th>
                    </tr>
                  </tfoot>
                <tbody class="table-group-divider">
                    {% for score in scores %}
                    <tr>
                      <td><a href="/api/show/historico/{{ score.aplicacion }}/{{ score.name }}">{{ score.name }}</a></td>
                      <td>{{ score.aplicacion }}</td>
                      <td><i class="badge rounded-pill bg-secondary">{{ score.size }}</i></td>
                      <td><a href="https://softwarequality-tc.shared-nonprod.cloud.si.orange.es/dashboard?id={{ score.app_sonar }}"  target="_blank" rel="noopener noreferrer">{{ score.fecha }}</a></td>
                      <td class="align-middle">{{ score.bugs }}</td>
                      <td><i class="badge rounded-pill rating-{{score.reliability_rating}}">{{score.reliability_label}}</i></td>
                      <td>{{ score.vulnerabilities }}</td>
                      <td><i class="badge rounded-pill rating-{{score.security_rating}}">{{score.security_label}}</i></td>
                      <td>{{ score.code_smells }}</td>
                      <td><i class="badge rounded-pill rating-{{score.sqale_rating}}">{{score.sqale_label}}</i></td>
                      <td>
                        {% if score.alert_status == "OK" %}
                        <span class="badge text-bg-success rounded-pill">{{ score.alert_status }}</span>
                        {% elif score.alert_status == "WARN" %}
                        <span class="badge text-bg-warning rounded-pill">{{ score.alert_status }}</span>
                        {% else %}
                        <span class="badge text-bg-danger rounded-pill">{{ score.alert_status }}</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
  <script src="{{url_for('static',filename='js/datatables-simple-demo.js')}}"></script>
{% endblock %}